body{
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);
    
    //Neutral
    
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);

    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Very-dark-blue) ;
}

main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 28vh 28vh;
    grid-template-areas: 
    "profil card1 card2 card3"
    "profil card4 card5 card6";
    gap: 2rem;
    width: 75vw;
    height: 50vh;
    margin: auto;
    

}

.profile{

    &.card{
        grid-area: profil; 
        height: 100%;    
    }

    &-user-details{
        background-color: var(--Blue);
        border-radius: 1.2rem;
        padding: 2rem;
        padding-bottom:  3.5rem;

        .profile-pic{
            border: 3px solid white;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-bottom: 2rem;

            img{
                width: 100%;
            }
        }

        h3{
            color: var(--Pale-Blue);
            font-weight: 400;
            margin-bottom: 0;
            font-size: 1rem;
        }

        h1{
            color: #fff;
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 0;
        }
    }

    &-nav{
        background-color: var(--Dark-blue);
        display: flex;
        flex-direction: column;
        border-radius: 1.2rem;
        padding: 2rem;
        gap: 1rem;
        position: relative;
        transform: translateY(-4rem);
        padding-top: 4rem;

        // transform: translateY(-1rem);

        &::before{
            content: '';
            width: 100%;
            height: 3rem;
            background-color: var(--Blue);
            position: absolute;
            left: 0;
            top: -.1rem;
            border-radius: 0rem 0rem 1.2rem 1.2rem;
        }

        a{
            color: var(--Pale-Blue);
            text-decoration: none;
            font-size: 1rem;

            &.active, &:hover{
                color: #fff;
            }
        }
    }


}

.small-card{
    .card-bg{
        height: 2rem;
    }

    .card-details{
        background-color: var(--Dark-blue);
        color: #fff;
        padding: 1rem 2rem;
        box-sizing: border-box;

        .card-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3{
                margin: 0;
            }
        }
    }
}

.work{
    grid-area: card1 ;

    .card-bg{
        background-color: var(--Light-red-work);
    }
}

.play{
    grid-area: card2 ;
     .card-bg{
        background-color: var(--Light-red-work);
    }
}


.study{
    grid-area: card3 ;
     .card-bg{
        background-color: var(--Light-red-work);
    }
}


.exercise{
    grid-area: card4 ;
     .card-bg{
        background-color: var(--Light-red-work);
    }
}


.social{
    grid-area: card5 ;
     .card-bg{
        background-color: var(--Light-red-work);
    }
}

.care{
    grid-area: card6 ;
     .card-bg{
        background-color: var(--Light-red-work);
    }
}

