@mixin mq($size) {
    @media (max-width:$size) {
        @content
    }
}

body{
    --Blue: hsl(246, 80%, 60%);

    --Light-red-work: hsl(15, 100%, 70%);
    --Soft-blue-play: hsl(195, 74%, 62%);
    --Light-red-study: hsl(348, 100%, 68%);
    --Lime-green-exercise: hsl(145, 58%, 55%);
    --Violet-social: hsl(264, 64%, 52%);
    --Soft-orange-self-care: hsl(43, 84%, 65%);
    
    //Neutral
    
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);

    margin: 0;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--Very-dark-blue) ;
}


main{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "profil card1 card2 card3"
    "profil card4 card5 card6";
    gap: 1.5rem;
    max-width: 105ch;
    margin: auto;

    @include mq(480px){
        display: flex;
        flex-direction: column;
    }
}

.profile{

    &.card{
        grid-area: profil; 
        height: 100%; 
        display: flex;
        flex-direction: column;
        // align-items: stretch;
        justify-content: stretch;
        position: relative;
    }

    &-user-details{
        background-color: var(--Blue);
        border-radius: 1rem;
        padding: 2rem;
        padding-bottom: 1.2rem;
        // height: 18rem;
        z-index: 2;
        @include mq(480px){
            height: auto;

            h1{
                font-size: 2rem;
            }
        }

        .profile-pic{
            border: 3px solid white;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin-bottom: 3rem;

            img{
                width: 100%;
            }
        }

        h3{
            color: var(--Pale-Blue);
            font-weight: 400;
            margin-bottom: 0;
            font-size: 1rem;
        }

        h1{
            color: #fff;
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 0;
        }
    }

    &-nav{
        background-color: var(--Dark-blue);
        display: flex;
        flex-direction: column;
        border-radius: 1rem;
        padding: 2rem;
        gap: 1.35rem;
        position: relative;
        // z-index: -1;
        padding-top: 3rem;
        position: absolute;
        inset: 0 0 0 0;
        justify-content: flex-end;
        

        a{
            color: var(--Pale-Blue);
            text-decoration: none;
            font-size: 1rem;
            cursor: pointer;

            &.active, &:hover{
                color: #fff;
            }
        }
    }


}

.small-card{
    position: relative;
    display: flex;
    flex-direction: column;

    &:hover{
        .card-details{
            background-color: var(--Desaturated-blue);
        }

        .card-bg::after{
            background-color: var(--Desaturated-blue);
        }
    }
    
    .card-bg{
        height: 3.5rem;
        border-radius: 1rem 1rem 0 0;
        background-repeat: no-repeat;
        background-position: 90%;
        position: relative;

        &::after{
            content: '';
            height: 1rem;
            background-color: var(--Dark-blue);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-radius: 1rem 1rem 0 0;
        }
    }

    .card-details{
        background-color: var(--Dark-blue);
        color: #fff;
        padding: 2rem;
        padding-top: 1rem;
        box-sizing: border-box;
        border-radius: 0 0 1rem 1rem;
        // transform: translateY(-1rem);
        // max-height: 100%;
        cursor: pointer;

       

        .card-header{
            display: flex;
            justify-content: space-between;
            align-items: center;

            h3{
                margin: 0;
                font-weight: 400;
                font-size: 1rem;
            }

            img{
                max-width: 1rem;
                cursor: pointer;
            }
        }

        h1{
            font-weight: 300;
            font-size: 3rem;
            margin-top: 1.5rem;
            margin-bottom: 0;
        }

        p{
            margin-bottom: 0;
            color: var(--Pale-Blue);
            font-weight: 400;
            font-size: .9rem;
        }
    }
}

.work{
    grid-area: card1 ;

    .card-bg{
        background-color: var(--Light-red-work);
        background-image: url(../../images/icon-work.svg);
    }
}

.play{
    grid-area: card2 ;

     .card-bg{
        background-color: var(--Soft-blue-play);
        background-image: url(../../images/icon-play.svg);

    }
}


.study{
    grid-area: card3 ;
     .card-bg{
        background-color: var(--Light-red-study);
        background-image: url(../../images/icon-study.svg);

    }
}


.exercise{
    grid-area: card4 ;
     .card-bg{
        background-color: var(--Lime-green-exercise);
        background-image: url(../../images/icon-exercise.svg);

    }
}


.social{
    grid-area: card5 ;
     .card-bg{
        background-color: var(--Violet-social);
        background-image: url(../../images/icon-social.svg);

    }
}

.care{
    grid-area: card6 ;
     .card-bg{
        background-color: var(--Soft-orange-self-care);
        background-image: url(../../images/icon-self-care.svg);

    }
}

